#title {
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 370px;
}

#formContainer {
    margin-left: auto;
    margin-right: auto;
}

#ContentPlaceHolder1_PanelError {
    font-weight: bold;
}

.row {
    border-radius: 4px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

#center {
    text-align: center;
}

#ContentPlaceHolder1_createBtn {
    margin-top: 100px;
    color: #fff;
    background-color: dodgerblue;
    width: 75px;
    border: none 0px transparent;
    font-size: 20px;
    padding: 4px 8px 4px 8px;
    webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

#ContentPlaceHolder1_createBtn:hover {
    background-color: lightblue;
    border: solid 1px #fff;
}

.stuff {
    width: 1110px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (max-width: 1199px) {

    .stuff {
        width: 925px;
        height: auto;
    }
}

@media only screen and (max-width: 991px) {

    .stuff {
        width: 690px;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {

    .stuff {
        width: 510px;
        height: auto;
    }
}