body {
    text-align: center;
    font-family: Arial;
}

#title {
    margin: 0 auto;
    text-align: center;
    background-color: wheat;
    padding: 5px 10px 5px 10px;
    max-width: 50%;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#timer {
    margin: 0 auto;
    width: 50%;
}

#timerRow {
    border: 0.5px solid grey;
    height: 20px;
}

#progressBar {
    width: 90%;
    margin: 10px auto;
    height: 22px;
    background-color: #0A5F44;
}

#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #CBEA00;
    box-sizing: border-box;
}

#attendTitle {
    font-weight: bold;
}

#attendTime {
    color: darkred;
    font-weight: bold;
}

#attendance {
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    border: 1px solid black;
}

.row {
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    border: 0.5px solid black;
    border-radius: 3px;
    padding: 5px 0 0 0;
    width: 200px;
}

#totalPart, #currentPart {
    float: left;
}

#totalPartNum, #currentPartNum {
    color: green;
    text-align: left;
}
