#title {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 370px;
    padding: 5px 0 5px 0;
}

#pointDiv {
    text-align: center;
}

h3 {
    display: inline-block;
    margin-bottom: 50px;
}

#numPoints {
    color: green;
    font-weight: bold;
}

#voucherRow {
    padding: 20px 5px 20px 5px;
    max-height: 10%;
    box-shadow: 0px 1px 5px grey;
}

#voucherTable {
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 4px;
}

#voucherImg {
    max-height: 45%;
    padding: 10px 20px 10px 20px;
    max-width: 90%;
    min-width: 200px;
}

#tdRepeat {
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
}

#voucherName {
    font-weight: bold;
    font-size: 30px;
}

#voucherAmount {
    font-size: 25px;
}

#btnRedeem {
    margin-top: 30px;
    color: #fff;
    background-color: dodgerblue;
    width: 120px;
    border: none 0px transparent;
    font-size: 20px;
    padding: 4px 8px 4px 8px;
    webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

#btnRedeem:hover {
    background-color: lightblue;
    border: solid 1px #fff;
    webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

#divButton {
    box-shadow: 0px 1px 5px grey;
}
